<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DWalker Website</title>
    <meta
    name="description"
    content="A website for aggregating and searching exposome data"
    />
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('search') }}">Search</a>
        {% if session.user %}
        <a href="{{ url_for('admin_root') }}">Dashboard</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
